Source: user-mode-linux
Section: misc
Priority: extra
Maintainer: User Mode Linux Maintainers <pkg-uml-pkgs@lists.alioth.debian.org>
Build-Depends: debhelper (>> 5.0.0), quilt, linux-source-2.6.30, docbook-to-man, bzip2, m4, module-init-tools, libvdeplug2-dev
Uploaders: Mattia Dongili <malattia@debian.org>
Standards-Version: 3.7.3


Package: user-mode-linux
Architecture: i386 amd64
Depends: ${shlibs:Depends}, uml-utilities (>= 20040406-1)
Suggests: x-terminal-emulator, rootstrap, user-mode-linux-doc, slirp, linux-patch-skas
Description: User-mode Linux (kernel)
 User-mode Linux (UML) is a port of the Linux kernel to its own system
 call interface.  It provides a kind of virtual machine, which runs
 Linux as a user process under another Linux kernel.  This is useful
 for kernel development, sandboxes, jails, experimentation, and many
 other things.
 .
 This package contains the kernel itself, as an executable program,
 and the associated kernel modules.
