Source: user-mode-linux
Section: kernel
Priority: extra
Maintainer: User Mode Linux Maintainers <pkg-uml-pkgs@lists.alioth.debian.org>
Build-Depends: debhelper (>> 5.0.0), quilt, linux-source-3.11, docbook-to-man, xz-utils, m4, module-init-tools, libvdeplug2-dev, libpcap-dev, dpkg (>= 1.16.2)
Uploaders: Mattia Dongili <malattia@debian.org>, Ritesh Raj Sarraf <rrs@debian.org>
Standards-Version: 3.9.4
Vcs-Git: git://git.debian.org/git/pkg-uml/user-mode-linux.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-uml/user-mode-linux.git


Package: user-mode-linux
Architecture: i386 amd64
Depends: ${misc:Depends}, ${shlibs:Depends}, uml-utilities (>= 20040406-1)
Built-Using: ${Built-Using}
Suggests: x-terminal-emulator, rootstrap, user-mode-linux-doc, slirp, vde2
Description: User-mode Linux (kernel)
 User-mode Linux (UML) is a port of the Linux kernel to its own system
 call interface.  It provides a kind of virtual machine, which runs
 Linux as a user process under another Linux kernel.  This is useful
 for kernel development, sandboxes, jails, experimentation, and many
 other things.
 .
 This package contains the kernel itself, as an executable program,
 and the associated kernel modules.
